/*------------- Базовые настройки CSS -------------*/
html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

ul[class],
ol[class],
menu {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
ul[class],
ol[class],
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    background-color: #f8f8f8;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----------------------------------- */

body {
    display: flex;
}

.nav {
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    width: 320px;
}

._container {
    display: flex;
    flex-direction: column;
    padding: 18.73px 24px 32px 24px;
    flex: 1 0 auto;
}

.nav-header {
    display: flex;
    align-items: center;
}

.back-button__link img:hover,
.search-button__link img:hover,
.nav-main__pages--link a:hover,
.nav-footer__buttons a:hover,
.email-link a:hover,
.number-link a:hover,
.nav-footer__lang a:hover {
    filter: opacity(70%);
    transition-duration: 250ms;
}

.nav-header__logo {
    padding: 0 16.73px;
}

.search-button {
    margin-left: auto;
}

.nav-main {
    padding: 46.46px 0;
}



.nav-main__pages--link:not(:last-child) {
    margin-bottom: 32px;
}

.nav-main__pages--link a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}

.nav-link--active a {
    color: #7E7E82;
    position: relative;
}

.nav-link--active::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    position: absolute;
    transform: translate(-24px, -4px);
    border-radius: 0 5px 5px 0;
}

.nav-footer {
    display: flex;
    flex-direction: column;
}

.nav-footer__buttons--link:not(:last-child) {
    padding-right: 16px;
}

.nav-footer__contacts {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.nav-footer__contacts--link a {
    color: #1B1C21;
}

.email-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    padding-bottom: 12px;
    color: #1B1C21;
}

.number-link {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;
    color: #1B1C21;
}

.nav__footer {
    margin-top: auto;
}

.nav-footer__lang {
    padding-top: 40px;
}

.nav-footer__lang .nav-footer__lang--item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}

.nav-footer__lang--item:not(:last-child) {
    padding-right: 7px;
}

.nav-footer__lang .nav-footer__lang--item--active{
    color: #7E7E82;
}
